<footer>
  {%- block next_prev %}
  {% if page and page.next_page or page.previous_page %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      {% if page.next_page %}
        <a href="{{ page.next_page.url }}" class="btn btn-neutral float-right" title="{{ page.next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {% endif %}
      {% if page.previous_page %}
        <a href="{{ page.previous_page.url }}" class="btn btn-neutral" title="{{ page.previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {% endif %}
    </div>
  {% endif %}
  {%- endblock %}

  <hr/>

  <div role="contentinfo">
    <!-- Copyright etc -->
    {% if config.copyright %}
      <p>{{ config.copyright }}</p>
    {% endif %}
  </div>

  Todo el material de este sitio esta bajo licencia <a href="http://creativecommons.org/licenses/by-nc/3.0/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://creativecommons.org/licenses/by-nc/3.0/', 'Creative Commons Attribution-NonCommercial 3.0 Unported License');" target="_blank" rel="license" title="Licencia de este sitio">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>
</footer>
